<html>

<head>
    <title>Job Details</title>
</head>

<a href="/">Back</a>

<br>

<body>
    <p>
        job: <br>
        {{job}}
    </p>

    <p>
        monitor_log: <br>
        <textarea rows="20" cols="180" readonly="readonly">
{{monitor_log}}
</textarea>
    </p>

    <p>
        task_stdout: <br>
        <textarea rows="20" cols="180" readonly="readonly">
{{task_stdout}}
</textarea>
    </p>

    <p>
        task_stderr: <br>
        <textarea rows="20" cols="180" readonly="readonly">
{{task_stderr}}
</textarea>
    </p>

</body>

</html>